/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import 'base/media';
@import 'base/colors';




/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: $gridBlack;
}

/* 2. Content ================================= */

section#portfolio.layout.layout-portfolio{
    padding: 90px 0;
   

    .container{
        width:95%;
        margin:0 auto;
        max-width:1440px;
		position:relative;
		
    }

    .portfolio-grid{
        padding: 25px 0;
        position: relative;
        display: flex;
        flex-wrap: wrap;
		justify-content: space-between;
		
		&::after{
			content:"";
			flex:auto; 
		}

        .single-project{
            width:100%;
			text-align: center;
			margin:15px 0;
			position: relative;
			padding:0 15px;
			height:275px;
			background-image: url("/dist/img/dog11.jpg");
			background-size: cover;
			transition: all 0.2s ease-out;

			 
			@media#{$mobile}{
				width:50%;
				height:250px;
			}
		
			@media#{$tablet}{ 
				width:30%;
				height:200px;
			}
		
		   @media#{$desktop}{
				width:25%;
				height:200px;
			}
        }
	}
	
	.inner{

		.img-overlay{
			
			width:100%;
			height: 100%;
			background-color:$gridHeadingTint;
			position: absolute;
			top:0;
			left:0;
			
			
			.text-container{
				position:absolute;
				top:50%;
				left:0;
				//transform:translateY(-50%);
				width:100%;
				padding:0 20px;
				color:$gridWhite;

				
				.project-subtitle{
					//display: none;
				}
			}

			&:hover{
				.project-subtitle{
					color:yellow;
					display: block;
					animation: slideDown 2s;
					
					//transition: <property> <duration> <timing-function> <delay>;
				}
			}
		}

	}
}


/* 

homework:
kill animations in mobile, trigger animnations at 1040px and above (make variable for it)
canyonroadfilms.com/directors
// free use images, set as css background 
//image overlay
//title with animation



&::after{
    content:"";
    flex:auto; 
}

.single project{

    width:100;
    text-align: center;
    margin:15px 0;
    position: relative;
    padding:0 15px;
    height:275px;
    transition: all 0.2s ease-out;
    
    
    @media(min-width:768px){
        width:50%
        height:250px;
    }

    @media(min-width:992px){ 
        width:33.3%
        height:200px;
    }

   @media(min-width:1200px){
        width:25%
        height:200px;
    }

    &:focus,
    &:active{
        outline:0pxl
    }

    &:hover{
        .text-container{

        }
    }


}

.text-container{
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%)
    width:100%:
    padding:0 20px
}

SCSS SUB-FOLDERS
base folder for variables for breakpoints, fonts, colors. your hard-coded settings 
vendor folder for outside libraries and stuff, downloaded assets, icon sets, third party vendors etc
pages for .scss pages 
*/


@keyframes slideDown{
	0% {top:0;}
	100% {top:-20;}
}

